.main-header {
    width: 100vw;
    height: calc(100vh - 3rem);
    display: grid;
    place-items:center;
    margin-top: 3rem;
}

.main-header-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
}

.main-header-left {
    margin-top: -3rem;
}

.main-header-left h4 {
    margin-bottom: 1rem;
    color: var(--color-secondary);
    font-weight: 400
}

.main-header-left p {
    margin: 1rem 0 3.5rem;
    font-size: 1.1rem;
}

.main-header-right {
    display: grid;
    place-items: center;
    position: relative;
}

.main-header-circle {
    width: 25rem;
    height: 25rem;
    background: linear-gradient(75deg, var(--color-secondary), transparent);
    border-radius: 50%;
    position: absolute;
    transition: var(--transition);
}

.main-header-image {
    position: relative;
}

.main-header-rigth:hover .main-header-circle {
    filter: blur(15px);
}

/* ====== PROGRAMS ====== */
.programs {
    margin-top: 4rem;
}

.programs-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    margin-top: 4rem;
}

.programs-program a {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.programs-program:hover a {
    background: var(--color-secondary);
    color: var(--color-gray-600)
}

/* ====== VALUES ====== */
.values-container {
    display: grid;
    grid-template-columns: 38% 50%;
    gap: 12%;
}

.values-image {
    filter: satirate(0.25);
    transition: var(--transition);
}

.values-image:hover {
    filter: saturate(1)
}

.values-right > p {
    margin: 1.5rem 0 5rem;
}

.values-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.4rem 2.4rem;
}

.card.values-value {
    padding-top: 3.5rem;
    text-align: left;
    position: relative;
}

.card.values-value span {
    position: absolute;
    top: -1.5rem;
}